*.class
.gradle/
build/
local.properties
*.log
.idea/caches/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/modules/
.idea/libraries/
.idea/deploymentTargetSelector.xml
captures/
.externalNativeBuild/
.cxx/
*.iml
*.ipr
*.iws
.DS_Store
